{name, "edown"}.
{description, "EDoc extension for generating Github-flavored Markdown"}.
{homepage, "https://github.com/esl/edown"}.
{url, {git, "https://github.com/esl/edown.git", {branch, "master"}}}.
{authors, ["Ulf Wiger <ulf.wiger@erlang-solutions.com>"]}.
{license, "Apache License 2.0"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
